/* common */
body{
  margin:0px;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4; 
  font-family: 'Nanum Gothic', sans-serif;
  /* width: 900px; */
  overflow: hidden; 
}

img{
  display: block;
}
a{
  text-decoration: none;
  color: #fff;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 60
}
input{
  text-decoration: none;
}



.wrapper {
  width: 700px;
  margin: 20px auto;
  
}

.container {
  width: 500px;
  padding-top: 1em;
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* margin-top: 20px; */

  
}
a.btnPush {
  box-shadow: 0px 5px 3px 0px #3b3c3f;
  width: 31.33%;
  height: 23%;
  display: block;
  position: relative;
  float: left;
  padding: 0;
  margin-bottom: 1%;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  color: #FFF;
  border-radius: 20px;
  transition: all 0.2s ;
  font-size: 60px;
}
a.btnPush:not(:nth-child(3n))
{
  margin-right: 1%;
}
.container a label{
  /* vertical-align: middle; */
  font-size: 110px;
  position:absolute;
  transform: translate(-50%,55%);
}
input.button {
  display: block;
  position: relative;
  float: left;
  width: 100px;
  height: 50px;
  padding: 0;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 20px;
  transition: all 0.2s ;
  font-size: 40px;
}

input.btnPush {
  display: block;
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 10px 10px 10px 0;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  color: #FFF;
  border-radius: 20px;
  transition: all 0.2s ;
  font-size: 60px;
}
.btnBlueGreen {
  background: #9DA7AF;
}
.c_button{
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: #9DA7AF;
  color: #FFF;
  border:solid #9DA7AF 2px;
  font-size: 22px;
  font-weight: bold;
  line-height: 40px;
  transition: .4s;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
}
.c_button:hover{
  color: #ffffff;
  background-color: #5D7D2B;
}

.inner{
  width: auto;
  margin: 0 auto;
  position: relative;
}

.btn{
  width: 200px;
  padding: 10px;
  border:solid #333 2px;
  color: #333;
  border-radius:40px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
/* .btn:hover{
  background-color: #333;
  color: #fff;
} */
.r_btn{
  width: 400px;
}
/* .btn.btn--reverse {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover{
  background-color: transparent;
  color: #333;
} */

/* header */

header{
  background-color:#ffffff;
  border-bottom: 1px solid #9DA7AF;
  position: relative;
  top:0;
  width: 100%;
  
}

header >.inner{
  height: 100px;
}
header >.line{
  height: 20px;
  background-color: #0C1A25;
}
header .logo{
  height: 75px;
  position: absolute;
  top:20px;
  left: 5%;
  bottom: 0;
  margin: auto;
  
}
.content { 
  
  background: linear-gradient( to bottom, #ffffff04 ,#9da7afa2 );
  position: fixed;
  width: 100%;
  height: 100%;
 
 
}
.content .main_logo_img{
  position: absolute;
  top: 30%;
  left: 39%;
  transform: translate(-50%,-50%);
}
.content .main_logo_img >img{
  
  width: 200%;
}
.content .bt{
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 80px;
  transform: translate(-50%,-50%);
  /* display: flex; */
}

.content .insertmember{
  position: absolute;
  top: 90%;
  left: 80%;
  font-size: 60px;
  transform: translate(-50%,-50%);
}
.content .bt .btn1{
  margin-top: 70px;
}



section {
  background: rgb(209,214,217);
  background: linear-gradient(90deg, rgba(209,214,217,0.75) 0%, rgba(224,231,236,0) 27%, rgba(224,231,236,0) 73%, rgba(209,214,217,0.75) 100%);
  height: 848px;
  
 
  
} 

.input .title{
     /* width: 800px; */
     position: absolute;
     transform: translate(-50%,-50%);
     top: 17%;
     left: 50%;
     font-size: 42px;
     font-weight: bold;
     text-align: center;
}
.input .input_form{
  width: 100%;
  height: 20vh;
  position: absolute;
  top: 20%;
}
.input_form div .label{
  width: 30%;
  margin: 0 2%;
  display: inline-block;
  text-align: center;
}

.label + div{
  display: inline-block;
}

.input_form label{
  font-size: 44px;
}

.container{
  width: 65%;
  height: 50%;
  top:55%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.input .input_num{
  width: 57%;
  margin: 0 50px;
  height: 100px;
  border: solid #333 2px;
  border-radius: 50px;
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  display: inline;
}
.input #searchcarwarning{
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 5vh;
  top: 40%;
  left: 50%;
  font-size: 40px;
  text-align: center;
  color: red;
  font-weight: bolder;
}

.search{
  position: absolute;
  /* top:90%; */
  bottom: 15%;
  left: 50%;
  transform: translate(-50%,-50%);
 
  
}
.search .searchbtn{
  position: absolute;
  font-size: 70px;
  width: 480px;
  height: 110px;
  /* bottom: 15%; */
  transform: translate(-50%,-50%);
  text-align: center;
  line-height: 100%;
}


.btnBlueGreen.btnPush {
  
}



/* .btnPush:hover {
  margin-top: 15px;
  margin-bottom: 5px;
} */

/* .btnBlueGreen.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #3b3c3f;
} */
.inner{
  position: relative;
}
.inner .back_num{
 position: absolute;
 top: 15%;
 right: 5%;
 font-size: 30px;
 width: 150px;
}

th, td {
  border-bottom: 1px solid #444444;
  border-left: 1px solid #444444;
  padding: 10px;
}
th:first-child, td:first-child {
  border-left: none;
}
#s_back{
  display: flex;
  flex-direction: row;
}
.bg{
  width: 30%;
  height: 100%;
  background: #3b3737;
  opacity: 0.5;
  position:absolute;
  top:0;
  left: -30%;
  z-index: 9999;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
}
.bg.on{
  left: 0%;
}
#slide_menu{

width:70%;
height:100%;
background:#01111db2;
position:absolute;
top:0;
right: -70%;
background-color:#ffffff; 
-webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -ms-transition: right 0.5s;
  -o-transition: right 0.5s;
  transition: right 0.5s;
  z-index: 9999;
  
}
#slide_menu.on{
  right: 0%;
  
}

#s_header{
  height: 120px;
  background: linear-gradient( to bottom, #9da7afa2, #ffffff04 );
  display: flex;
  
}

.s_title{
  width: 85%;
  font-size: 40px;
  line-height: 120px;
  font-weight: bold;
  margin-left: 5%;
}
.s_title h1 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0; 
    margin-block-end: 0; 
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#s_header .back_num{
  width: 20%;
  height: 60px;
  line-height: 50px;
  margin-top: 3%;
  font-size: 30px;
  border-radius: 40px;
  margin-right: 5%;
  background-color: #9DA7AF;
  color: #FFF;
  border:solid #9DA7AF 2px;
  /* transition: 0.3s; */
}
/* #s_header .back_num:hover{
 background: #5D7D2B;  
} */
#s_content table{
  width: 95%;
  height: 80%;
  margin: 0 2.5% 0 2.5%;
  border-top: 1px solid #444444;
  border-collapse: collapse;
  font-size: 24px;
  text-align: center;
}
#s_content table th{
  font-weight: bold;
}
.s_under{
 width: 100%;
 font-size: 19px;
 color: red;
 font-weight: bold;
 text-align: center;
 height: 200px;
 line-height: 200px;
}

main{
  display: flex;
  position: relative;
  width: 100%;
  
}
#left{
  width: 45%;
  height: 100vh;
  float: left;
  
  
}
#left .car_img img{
  /* position: absolute; */
  /* top: 20%; */
  width: 100%;
  margin-top: 60%;
  /* left: 5.5%; */
}
#right{
  width: 55%;
  float: left;

  /* position: relative; */
}

#right .r_title{
 font-size: 50px;
 font-weight: bold;
 /* position: absolute; */
 /* top: 10%;
 left: 10%; */
}
#right #car_content{
  margin-left: 5%;
  /* position: absolute; */
  /* top: 20%; */
  /* left: 10%; */
}
#right #car_content .car_info{
  font-size: 40px;
  margin-bottom: 20px;
}
#right #car_content .fix_history{
  font-size: 48px;
}
#right #car_content .fix_history .fix_bt{
  height: 100px;
  width: fit-content;
  margin-top: 20px;
}
#f_content input[id*="answer"]{
  display: none;
}
#f_content input[id*="answer"] + label{
  display: block;
  border-bottom: 0;
  color: #3b3c3f;
  font-weight: 900;
  cursor: pointer;
  font-size: 15px;
}
#f_content input[id*="answer"] + label + div{
  max-height: 0;
  transition: .35s ;
  overflow: hidden;
  font-size: 15px;

}
#f_content input[id*="answer"] + label + div p,ul{
  display: block;
  padding: 20px;
 
}
#f_content input[id*="answer"]:checked + label + div{
  max-height:200px;
 
}
#f_back{
  display: flex;
  flex-direction: row;
}
.backg{
  width: 50%;
  height: 100%;
  background: #3b3737;
  opacity: 0.5;
  position:absolute;
  top:0;
  left: -50%;
  z-index: 9999;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
}
.backg.on{
  left: 0%;
}
#fhi_menu{

width:50%;
height:100%;
background:#01111db2;
position:absolute;
top:0;
right: -70%;
background-color:#ffffff; 
-webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -ms-transition: right 0.5s;
  -o-transition: right 0.5s;
  transition: right 0.5s;
  z-index: 9999;
  
}
#fhi_menu.on{
  right: 0%;
  
}

#f_header{
  height: 120px;
  background: linear-gradient( to bottom, #9da7afa2, #ffffff04 );
  display: flex;
  
}

.f_title{
  width: 90%;
  font-size: 40px;
  line-height: 120px;
  font-weight: bold;
  margin-left: 5%;
}
#f_content{
  padding-left: 40px;
}
#f_content h4{
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  background: #959ca1;
  padding-left: 20px;
}
#f_content .accordion ul{
  font-size: 20px;
  background: linear-gradient( to bottom, #9da7afa2, #ffffff04 );
}
#f_header .back_num{
  width: 10%;
  height: 50px;
  line-height: 50px;
  margin-top: 35px;
  font-size: 30px;
  border-radius: 40px;
  margin-right: 5%;
  background-color: #9DA7AF;
  color: #FFF;
  border:solid #9DA7AF 2px;
}
#fhi_menu{
  overflow: auto;
}
#fhi_menu::-webkit-scrollbar{
  width: 20px;
}
#fhi_menu::-webkit-scrollbar-thumb{
  background-color: #959ca1;
  border-radius: 10px;    
}


#fhi_menu::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
}
.under{
 width: 100%;
 font-size: 40px;
 font-weight: bold;
 text-align: center;

}

#r_left input[id*="answer"]{
  display: none;
}
#r_left input[id*="answer"] + label{
  display: block;
  border-bottom: 0;
  color: #3b3c3f;
  font-weight: 900;
  position: relative;
  cursor: pointer;
  font-size: 50px;
  margin-bottom: 10px;
}
#r_left input[id*="answer"] + label + div{
  max-height: 0;
  transition: .35s ;
  overflow: hidden;
  font-size: 20px;

}
#r_left input[id*="answer"] + label em{
  position: absolute;
  top: 50%;
  right: 30px;
  width: 50px;
  height: 50px;
  margin-top: -15px;
  display: inline-block;
  background:url(../img/under_arrow.png) 0 0 no-repeat;
  transition: 0.3s;
}
#r_left input[id*="answer"] + label + div p,ul{
  list-style-type: none;
  display: block;
  padding: 20px;
  font-weight: 600; 
  font-size: 24px; 
}
#r_left ul{
  background: linear-gradient( to bottom, #9da7afa2, #ffffff04 );
}
#r_left p{
  color: red;
  font-weight: 900;
}
#r_left input[id*="answer"]:checked + label + div{
  max-height:350px; 

}
#r_left input[id*="answer"]:checked + label em{
  transform: rotate(180deg);
}

.fix_title{
 display: block;
 width: 100%;
 background: #333;
 margin-bottom: 20px;
}
.fix_title h1{
  color: #fff;
  font-size: 60px;
  margin-left: 80px;
}

#m_content{
  display: flex;
}
#r_left{
  width: 46%;
  overflow: auto;
  height: 750px;
  margin-left: 4%;
}
#r_left::-webkit-scrollbar{
  width: 20px;
}
#r_left::-webkit-scrollbar-thumb{
  background-color: rgb(156, 149, 149);
  border-radius: 10px;    
}


#r_left::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
}
#r_right{
  width: 42%;
  margin-right: 5%;
  margin-left: 3%;
}
#r_right .confirm{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
#result{
  height: 200px;
  border: 1px solid #0C1A25;
  border-radius: 20px;
  padding: 5%;
  font-size: 24px;
} 
#r_right .btn{
  margin-top: 20px;
}
#pop_up{
  width: 600px;
  height: 500px;
  background: #FFF;
  position:absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
.pop_up_line{
  width: 600px;
  height: 10px;
  background: #0C1A25;
}
.pop_up_inner{
  border-bottom: 1px solid #0C1A25;
}
.pop_up_inner .pop_up_logo img{
 margin-left: 20px;
}
#pop_up_footer{
  position: absolute;
  margin-top: 50px;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#popup_wrap{
  background-color:rgba(0,0,0,0.3); 
  justify-content:center; 
  align-items:center;     
  position:fixed;         
  top:0;
  left:0;
  right:0;
  bottom:0;
  overflow: hidden; 
  backdrop-filter: blur(4px);
  display: none;
}
#popup_wrap.show{
  display: flex;
}
#pop_up_content{
  font-size: 30px;
  text-align: center;
  padding: 0 40px;
}
.e1{
  font-size: 40px;
    margin-left: 45px;
}
.e2{
  font-size: 50px;
  color: red;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  text-align: center;
}
.footer{
  font-size: 50px;
  position: absolute;
    margin-top: 50px;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.e3{
  font-size: 24px;
  font-weight: bold;
}

a:link, a:visited, a:hover, a:active {text-decoration: none;}
.left{float: left;}
.right{float: right;}


.cont {position:relative;box-sizing:border-box; }
.cont .scrollBox01 {
  width: 600px;
  height: 1300px;
  margin: 15px;
  border: 1px solid #c7c7c7;
  overflow-y: scroll;
}
.cont strong{margin-left: 20px;}
.cont .scrollBox01 ul {}
.cont .scrollBox01 ul li {list-style: none;}
.cont .scrollBox01 ul li.box_tit {}
.cont .scrollBox01 ul li a {
  position: relative;
  display: block;
  padding: 15px 10px;
  color: #333;
  font-size: 50px;
  line-height: 40px;
  border-bottom: 1px solid #c7c7c7;
  background: #ededed;
}
.cont .scrollBox01 ul li a:after {content:'';position:absolute;display:block;top:49%;right:10px;width:8px;height:4px;background:url(/images/step3_arrowB.png)0 0 no-repeat;transition:all 0.2s ease-in-out;}
.cont .scrollBox01 ul li.active a:after {content:'';transform:rotate(180deg)}
.cont .scrollBox01 ul li ul {display:none}
.cont .scrollBox01 ul li.active ul {display:block}
.cont .scrollBox01 ul li ul li {
  position: relative;
  width: 100%;
  padding: 13px 8px;
  line-height: 22px;
  border-bottom: 1px solid #c7c7c7;
  box-sizing: border-box;
}
.cont .scrollBox01 ul li ul li input[type="checkbox"] {position:absolute;top:0px;left:0px;opacity:0;}
.cont .scrollBox01 ul li ul li label {
  display: block;
  width: 100%;
  background: url(/images/autoQ_radio2_off.png) right center/50px no-repeat;
  cursor: pointer;
  box-sizing: border-box;
  color: #333;
  font-size: 35px;
  line-height: normal;
  vertical-align: middle;
  height: 50px;
}
.cont .scrollBox01 ul li ul li input[type="checkbox"]:checked + label {background:url(/images/autoQ_radio2_on.png) right center/50px no-repeat;}
.cont .scrollBox01 ul li ul li input[type="checkbox"]:focus + label{border:1px dotted #222;}
.cont .scrollBox03 textarea{width:100%;height:100%;border:0; resize: none; letter-spacing: -0.025em;}
.cont .scrollBox03 {
  width: 380px;
  height: 500px;
  margin: 15px 20px;
  padding: 10px;
  border: 1px solid #dbdbdb;
}
.cont .scrollBox03 td{   
  color: #666;
  font-size: 30px;
}

.rcptBtn{font-size: 40px;margin-left: 25px;margin-top: 40px;}

#ul ul{font-size: 50px;}
#ul ul label{border: solid red;
  margin-left: 20px;
  padding: 0px 15px;}
#ul ul label:after{border-color:#7d1919 transparent transparent transparent;}
#ul li table tr{font-size: 35px;}

.popup_wrap{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
    width: 100vw;
    background: #aaaaaa;
    opacity: 0.3;

}
.popup{
  height: 30vh;
  width: 70vw;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: #fff;
  border: 1px solid #aaaaaa;
  border-radius: 60px;
}
.popup .title{
  text-align: center;
  font-size: 60px;
  margin-top: 15px;
}

.popup .close_btn{
  display: block;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 40px;
  border: 0;
  height: 40px;
  font-size: 0;
  background: url(../images/ico_pop_close.png);
  background-size: cover;
}

.popup table{
  width: -webkit-fill-available;
  margin: 10px 100px;
  border-collapse: collapse;
}

.popup table td{
  padding: 12px 30px;
  color: #000;
  border-bottom: 1px solid #dde2e5;
  border-left: none;
  font-size: 35px;
}
.popup table td input{
  height: 45px;
  border: 1px solid #aaaaaa;
  font-size: 35px;
  padding-left: 10px;
  width: 100%;
}

.popup table .lb{
  background: #f5f6f7;
  width: 40%;
}
.popup table .lb .req{
  display: inline-block;
  width: 14px;
  height: 14px;
  font-size: 0;
  background: url(../images/ico_req.png);
  background-size: cover;
  vertical-align: 15px;
}
.search_btn{
  display: inline;
  vertical-align: middle;
  position: absolute;
  right: 16%;
  top: 64%;
  transform: translate(-50%,-50%);
  width: 27px;
  height: 27px;
  border: 0;
  font-size: 0;
  background: url(../images/ico_search_b.png) no-repeat;
}

.insert_member_btn{
  text-align: -webkit-center;
  margin-top: 25px;
  font-size: 40px;
}