.top_line {width: 100%; height: 5px; background:black;}

.teamtables .header {height: 70px; background: linear-gradient(1deg, #c7c0c0, #0000000a);}

.teamtables .header h1 {width: 80%;}
.teamtables .header .logo {width: 20%;}
.teamtables .header .logo img {width:150px ;}
.team_left{float: left;    margin-top: 15px; padding-left: 80px;}

.sub_in{width: 100%;
    margin: 0;
    padding: 0px 0px;}
.tit_1{    color: #010101d2;
    font-size: 48px;
    font-weight: 600;
    line-height: 35px;}

.board_list th{padding: 7px 0; background: black; color:white; font-weight: bold; font-size: 32px;}
.container {margin-top: 0px;}

.board_list td{padding: 10px 0 10px 0;
    border-bottom: 2px solid #dde2e5;
    color: #060606;
    text-align: center;
    font-weight: bold;
    font-size: 20px;}

.content {
    min-height: 700px;
    padding-bottom: 0;
}