body{width: 100%;}


.top_line {width: 100%; height: 5px; background:black;}

.teamtables .header {    height: 60px;
    background: linear-gradient(1deg, #c7c0c0, #0000000a);}

.teamtables .header h1 {display: inline; margin-right: 40px;}
.teamtables .header .logo {/*width: 20%;*/}
.teamtables .header .tab {width: 15%;}
.teamtables .header .logo img {    width: 200px;    float: right;    margin-top: 10px;}
.team_left{    float: left; margin-top: 10px; padding-left: 15px;}
.team_right{float: right; padding-right: 15px;}
.board_list tbody{background: linear-gradient(0deg, #bfbfbf, #16131329);}

.team_click{
    float: left;
    margin-top: 13px;
    min-width: 200px;
    line-height: 45px;
    font-size: 35px;
    text-align: center;
    background: #5D7D2B;
    border: 1px solid #444444;
    border-radius: 20px 20px 0 0;
    color: #FFF;
    transition: 0.3s;
    font-weight: bold;
}

.btntablet{height: 35px;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    background: #000000;
    padding: 5px 10px;}

.sub_in{
    width: 100%;
    min-height: 63.6vh;
    margin: 0;
    box-sizing: border-box;
    padding: 0px 0px;
}
.tit_1{        
    color: #010101d2;
    font-size: 35px;
    font-weight: 600;
    line-height: 35px;
}

.board_list th{    padding: 14px 0;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 30px;}
.container {margin-top: 0px;}

.board_list td{
    padding: 20px 0 20px 0;
    border-bottom: 2px solid #dde2e5;
    height: 59.5px;
    color: #060606;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.content {
    min-height: 600px;
    padding-bottom: 0;
}

.header .active{
    background: black;
    border-bottom: 3px solid black;

}
.menu_btn{
    float: right;
    text-align: right;
    padding: 10px;
}
.menu_bg{
width:100%;
height:100%;
background:rgba(0,0,0,0.7);
position:absolute;
top:0;
display:none;
z-index: 1;
}
.sidebar_menu{ display:none;
width:20%;
height:100%;
background:#bbc3cb;
position:absolute;
top:0;
right: -50%;
z-index: 2;

}
.close_btn{
width:25px;
height:25px;
margin:10px;
padding:10px;
}
.close_btn>a{
display:block;
width:100%;
height:100%;
}
.menu_wrap{
list-style:none;
padding: 100px 0 0 0;
}
.menu_wrap li a{
color:#000;
text-decoration:none;
font-size:25px;
font-weight:bold;
}
.menu_wrap li{
padding:25px 30px;
border-bottom:2px solid #fff;
}

.mainimg{
    float: left;
    width: 50%;
    height: 100vh;
}
.loginmain{
    float: left;
    width: 50%;
    height: 100vh;
}
.mainimg img{
    width: 100%;
    height: 100%;
}
.loginmain .logoimg img{
    width: 53%;
    padding-top: 35%;
    margin: 0 22%;    width: 53%;
    padding-top: 35%;
    
}
.loginbox{
    margin: 30px 0;
    padding: 0;
    height: 40%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.loginbox dl > *{
    float: none;
}

.loginbox dd input[type=text]{
    width: 240px;
    height: 35px;
    padding: 0 10px;
    margin: 0 28%;
    border-style: ridge;
    color: #666;
    font-size: 25px;
    border: revert;
    border-radius: 0px;
    background: none;
}
.loginbox dd input[type=password]{
    width: 240px;
    height: 35px;
    padding: 0 10px;
    margin: 0 28%;
    border-style: ridge;
    color: #666;
    font-size: 25px;
    border: revert;
    border-radius: 0px;
    background: none;
}
.loginbox .btn_a .btn{
    width: 240px;
    height: 35px;
    margin: -15px -1.3%;
    border-radius: 8px;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    line-height: 35px;
    background: #000000;
}
.teamtables ~ strong {
    display: block;
    font-size: 30px;
    margin: 0% 0 0 10%;
}

.vehicleinfo_1{
    height: 22vh;
    margin: 0 40px 0 40px;
    border: 1px solid gray;
    border-radius: 40px;
}

.vehicleinfo_1 div{
    width: 33%;
    display: inline-block;
    padding: 0% 0px 0px 5%;
}
.vehicleinfo_1 div strong{
    font-size: 20px;
    display: block;
}
.vehicleinfo_1 div input{
    width: 70%;
    padding: 0px 16px;
    border-radius: 35px;
    font-size: 20px;
}

.vehicleinfo_1 div a{
    display: inline-block;
    width: 70%;
    padding: 0px 15px;
    border: 1px solid #5D7D2B;
    border-radius: 35px;
    font-size: 22px;
    text-align: center;
    background: #5D7D2B;
    color: white;
    font-weight: bold;
}

.vehicleinfo_2 {
    height: 53vh;
    width: 60vw;
    margin: 0 20px 0 40px;
    border: 1px solid gray;
    border-radius: 40px;
    float: left;
}

.vehicleinfo_2 .repairselect{
    margin: 5% 3% 0% 3%;
    width: 44%;
    float: left;
}
.vehicleinfo_2 .repairselect .cont{
    width: 100%;
}
.vehicleinfo_2 .repairselect .cont .scrollBox01{
    height: 280px;
    margin: 0;
}
.vehicleinfo_2 .repairselect .cont .scrollBox01 ul li a{
    font-size: 25px;
    line-height: 31px;
    height: 33px;
    text-align: center;
}
.vehicleinfo_2 .repairselect .cont .scrollBox01 ul li label{
    font-size: 20px;
}

.vehicleinfo_2 .repairpreview{
    width: 44%;
    margin: 0% 3%;
    float: left;

}
.vehicleinfo_2 .repairpreview .cont{
    width: auto;
}
.vehicleinfo_2 .repairpreview .cont strong{
    margin-top: 1%;
    font-size: 20px;
    display: block;
}

.vehicleinfo_2 .repairpreview .cont .scrollBox03{
    margin: 1% 20px;
    height: 130px;
}
.scrollBox03 td{
    padding: 0px 2px;
    border-bottom: none;
    color: #666;
    font-size: 13px;
}

.vehicleinfo_2 .remark{
    width: 44%;
    margin: 0% 3%;
    display: inline-block;
}
.vehicleinfo_2 .remark .cont{
    width: auto;

}
.vehicleinfo_2 .remark .cont textarea{
    width: 88%;
    margin: 0 20px;
    padding: 5px;
    display: block;
    border: 1px solid #dbdbdb;
    font-size: 15px;
    height: 120px;
}
.vehicleinfo_2 .remark .cont strong{
    font-size: 20px;
    display: block;
}

.vehicleinfo_3{
    margin: 0 0px 0 20px;
    border: 1px solid gray;
    border-radius: 40px;
    width: 30vw;
    height: 52vh;
    float: left;
    text-align: center;
    font-size: 20px;
}

.vehicleinfo_3 > div{
    margin-top:15px;
}
.vehicleinfo_3 strong{

}
.vehicleinfo_3 input{
    width: 40%;
    padding: 5px 10px;
    border-radius: 35px;
    font-size: 15px;
}
.vehicleinfo_3 a{
    padding: 0 90px;
    /* border: 1px solid #EA0029; */
    border-radius: 10px;
    background: #EA0029;
    color: white;
}

.vehicleinfo_3 .complete{
    display: inline-block;
    width: 49%;
}
.vehicleinfo_3 .complete a{
    padding: 3% 20%;
    background: #5d7d2b;
}
.vehicleinfo_3 .cancel{
    display: inline-block;
    width: 49%;
}
.vehicleinfo_3 .cancel a{
    padding: 3% 20%;
}

.vehicleinfo_3 textarea{
    width: 88%;
    margin: 0 20px;
    padding: 5px;
    display: block;
    border: 1px solid #dbdbdb;
    font-size: 15px;
    height: 120px;
}