body{width: 100%;}


.monitoring {background: url(../images/monitoring_bg.png) no-repeat center; background-size:cover;height:100vh;overflow: hidden;}
.monitoring .top_title {background:url(../images/top_bg.png) no-repeat top; background-size:contain;height:11vh}
.monitoring .top_title .top_inner:after {display:block; content:""; clear:both}
.monitoring .top_title .top_inner {padding:0 30px;height:100%}
.monitoring .top_title .top_inner > div {width:50%; float:left;}
.monitoring .top_title .left .logo_area{padding-left:70px}
.monitoring .top_title .left img {width:7vw;}
.monitoring .top_title .left h4 {position:relative; font-size:28px; color:#484848;padding-left:40px; margin-top: 15px; letter-spacing: -1px;}
.monitoring .top_title .left h4:before {display:block;content:"";position:absolute; width:40px; height:10px;top:50%;left:-10px; transform:translateY(-50%);background:#484848 }
.monitoring .top_title .left h4 span {font-weight:400;}
.monitoring .top_title .right { height: 100%; display: flex; flex-direction: column; align-items: flex-end; justify-content: center;}
.monitoring .top_title .right h2.t_tit { font-size:40px; color:#c1c1c1;letter-spacing: -1px;}


.content_wrap {padding:0 30px}
.content_wrap .con_box {padding: 20px 0; position: relative;}
.content_wrap .con_box .header {position:relative;}
.con_box .big_tit { font-size: 30px; padding-left: 50px; position: relative; margin-bottom: 20px;line-height:50px;}
.con_box .big_tit:before { content: ""; display: block; width: 45px; height: 45px; background: url(../images/big_tit.png;) no-repeat center left; left: 0; top: 50%; transform: translateY(-50%); position: absolute;}
.con_box .tab_title {position:absolute; top:0 ; left:225px;}
.con_box .tab_title .tab {display:inline-block; font-weight:500;padding: 8px 24px;font-size:23px}
.con_box .tab_title .tab.active {background:radial-gradient( ellipse,#010101,#414141cf );color:#f2f2f2;border-radius: 15px;}

.board_list {background: #fff; width: 100%; border-radius: 20px; box-shadow: 0px 3px 7px 1px #d1d1d1; overflow: hidden;}
.board_list table { font-size: 22px; text-align: center; table-layout: fixed;}
.board_list table thead { border-bottom: 1px dashed #484848;}
.board_list table thead th { padding: 15px 0; background: radial-gradient( ellipse,#010101,#414141cf ); color: #f2f2f2;}
.board_list table td {font-size: 20px; padding: 15px 0;}

.con_wrapper {padding:0 15px; margin:10px 0;position:relative}
.con_wrapper h4.s_tit {font-size:22px; padding-left:30px; position:relative;line-height: 1.4;margin-bottom: 10px;}
.con_wrapper h4.s_tit:before {content:"";display:block; position:absolute;width:5px; height:20px; top:50%; transform:translateY(-50%); background:#414141;left:15px;}



.teamtables .header h1 {display: inline; margin-right: 40px;}
.teamtables .header .logo {/*width: 20%;*/}
.teamtables .header .tab {width: 15%;}
.teamtables .header .logo img {    width: 200px;    float: right;    margin-top: 10px;}
.team_left{    float: left; margin-top: 10px; padding-left: 15px;}
.team_right{float: right; padding-right: 15px;}



.info_box {position:relative;}
.info_box .frm_5li {display:flex;flex-direction: row; flex-wrap: wrap; justify-content: flex-start; align-items: center;}
.info_box .frm_5li li {width:20%;padding:10px}
.info_box .frm_5li li .box_inner {padding:14px 20px; background:#fff;border-radius:15px;box-shadow: 0px 3px 7px 1px #d1d1d1;}
.info_box .frm_button {position:absolute;top:-40px; right:12px}
.info_box .frm_button a {display: block; padding: 10px 40px; background: radial-gradient( ellipse,#010101,#414141cf ); color:#fff; border-radius: 10px; font-weight: 600;}

.repair_infobox {display:flex;flex-direction: row; justify-content: space-between; padding: 10px;}
.repair_infobox > div {background:#fff;border-radius:15px;padding:20px;box-shadow: 0px 3px 7px 1px #d1d1d1;}
.repair_infobox .vehicleinfo_2 {width:65%;position:relative}
.repair_infobox .vehicleinfo_2 .repair_chk:after {display:block; content:""; clear:both}
.repair_infobox .vehicleinfo_2 .repair_chk > div {width:50%; float:left}
.repair_chk .cont {width:100%}

.vehicleinfo_2 .repairselect .cont .scrollBox01 {height:250px;margin: 10px; border-radius: 5px;}
.vehicleinfo_2 .repairselect .cont .scrollBox01 ul li a {font-size:16px;font-weight:500; padding: 0 10px}
.vehicleinfo_2 .repairpreview .cont .scrollBox03 {height:250px;margin: 10px; border-radius: 5px;}
.vehicleinfo_2 .repairpreview .cont .scrollBox03 td {font-size:16px;padding:5px 10px 5px 25px; border-bottom:dashed 1px #333;position:relative;}
.vehicleinfo_2 .repairpreview .cont .scrollBox03 td:before {width:5px;height:5px; border-radius:50%; border:1px solid #333;content:""; display:block;left:10px;position:absolute;top:50%; transform:translateY(-50%);position:absolute}
.vehicleinfo_2 .remark .cont {width:100%;}

.repair_infobox .vehicleinfo_3 {width:32%;position:relative}
.repair_infobox .vehicleinfo_3 > div {margin:10px 0}
.repair_infobox .vehicleinfo_3 .info3_1 em,.repair_infobox .vehicleinfo_3 .info3_2 em {margin-left:10px}
.repair_infobox .vehicleinfo_3 .info3_3 textarea {height:300px;width:100%}
.repair_infobox .vehicleinfo_3 .frm_button {position:absolute;bottom:20px;left:50%;transform:translateX(-50%);width: 100%;}
.repair_infobox .vehicleinfo_3 .frm_button .red_btn {background:#990707}
.repair_infobox .vehicleinfo_3 .frm_button .gray_btn {background:#959595}

/*input box*/

.con_wrapper .frm_input {border:1px solid #d5d5d5; border-radius:5px; color:#000; vertical-align:middle; padding:5px 15px;font-size:.9375rem;max-width:100%;height: 40px;}
.con_wrapper .full_input {width:100%}
.con_wrapper .half_input {width:50%}
.con_wrapper p.label {display:block;margin:0 0 5px; color:#333; font-size:18px; font-weight:500;padding-left:10px;position:relative}
.con_wrapper p.label:before {display:block; content:""; width:3px;height:3px;background:#333;left:0;top:50%; transform:translateY(-50%);position:absolute}
.con_wrapper p.inline {display:inline-block; margin: 5px 30px 5px 0;min-width: 105px;}
.con_wrapper .cont .scrollBox01 ul li ul li label {font-size:16px; padding-left:20px;position:relative}
.con_wrapper .cont .scrollBox01 ul li ul li label:before {width:10px; height:10px; content:"";border:solid #ddd;border-width:0 0 1px 1px; position:absolute; left:0; top:0}
.con_wrapper textarea {border:1px solid #d5d5d5; border-radius:5px; color:#000; vertical-align:middle; padding:5px 15px;font-size:.9375rem;width:100%;overflow: hidden; overflow-y: auto;height:120px}
.frm_button {text-align:center;}
.frm_button a {padding: 10px 30px; border-radius: 10px; background:radial-gradient( ellipse,#010101,#414141cf ); color:#fff; font-weight: 500; display: inline-block;}



/*.board_list tbody{background: linear-gradient(0deg, #bfbfbf, #16131329);}*/




/*.team_click{
    float: left;
    margin-top: 13px;
    min-width: 200px;
    line-height: 45px;
    font-size: 35px;
    text-align: center;
    background: #5D7D2B;
    border: 1px solid #444444;
    border-radius: 20px 20px 0 0;
    color: #FFF;
    transition: 0.3s;
    font-weight: bold;
}*/

.btntablet{height: 35px;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    background: #000000;
    padding: 5px 10px;}

.sub_in{
    width: 100%;
    min-height: 63.6vh;
    margin: 0;
    box-sizing: border-box;
    padding: 0px 0px;
}
.tit_1{        
    color: #010101d2;
    font-size: 35px;
    font-weight: 600;
    line-height: 35px;
}
.container {margin-top: 0px;}

/*.board_list th{    padding: 14px 0;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 30px;}


.board_list td{
    padding: 20px 0 20px 0;
    border-bottom: 2px solid #dde2e5;
    height: 59.5px;
    color: #060606;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
*/
.content {
    min-height: 600px;
    padding-bottom: 0;
}

.header .active{
   /* background: black;
    border-bottom: 3px solid black;
	*/
}
.menu_btn{
   /* float: right;
    text-align: right;
    padding: 10px;*/
    position:absolute; top:0 ; left:0 ; padding:15px 27px;
}
.menu_bg{
/*width:100%;
height:100%;*/
background:rgba(0,0,0,0.7);
position:absolute;
top:0;right:0;bottom:0;left:0;
display:none;
z-index: 1;
}
.sidebar_menu{ display:none;
width:30%;
/*height:100%;*/
background:#bbc3cb;
position:absolute;
top:0;bottom:0;
left: -50%;
z-index: 2;

}
.sidebar_menu .mf_img{position: absolute; bottom: 70px;left: 50%; transform: translateX(-50%);}
.close_btn{
width:25px;
height:25px;
margin:10px;
padding:10px;
}
.close_btn>a{
display:block;
width:100%;
height:100%;
}
.menu_wrap{
list-style:none;
padding: 100px 0 0 0;
}
.menu_wrap li a{
color:#000;
text-decoration:none;
font-size:25px;
font-weight:bold;
}
.menu_wrap li{
padding:25px 30px;
border-bottom:2px solid #fff;
}

.mainimg{
    float: left;
    width: 50%;
    height: 100vh;
}
.loginmain{
    float: left;
    width: 50%;
    height: 100vh;
}
.mainimg img{
    width: 100%;
    height: 100%;
}
.loginmain .logoimg img{
    width: 53%;
    padding-top: 35%;
    margin: 0 22%;    width: 53%;
    padding-top: 35%;
    
}
.loginbox{
    margin: 30px 0;
    padding: 0;
    height: 40%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.loginbox dl > *{
    float: none;
}

.loginbox dd input[type=text]{
    width: 240px;
    height: 35px;
    padding: 0 10px;
    margin: 0 28%;
    border-style: ridge;
    color: #666;
    font-size: 25px;
    border: revert;
    border-radius: 0px;
    background: none;
}
.loginbox dd input[type=password]{
    width: 240px;
    height: 35px;
    padding: 0 10px;
    margin: 0 28%;
    border-style: ridge;
    color: #666;
    font-size: 25px;
    border: revert;
    border-radius: 0px;
    background: none;
}
.loginbox .btn_a .btn{
    width: 240px;
    height: 35px;
    margin: -15px -1.3%;
    border-radius: 8px;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    line-height: 35px;
    background: #000000;
}
.teamtables ~ strong {
    display: block;
    font-size: 30px;
    margin: 0% 0 0 10%;
}

/*.vehicleinfo_1{
    height: 22vh;
    margin: 0 40px 0 40px;
    border: 1px solid gray;
    border-radius: 40px;
}

.vehicleinfo_1 div{
    width: 33%;
    display: inline-block;
    padding: 0% 0px 0px 5%;
}
.vehicleinfo_1 div strong{
    font-size: 20px;
    display: block;
}
.vehicleinfo_1 div input{
    width: 70%;
    padding: 0px 16px;
    border-radius: 35px;
    font-size: 20px;
}

.vehicleinfo_1 div a{
    display: inline-block;
    width: 70%;
    padding: 0px 15px;
    border: 1px solid #5D7D2B;
    border-radius: 35px;
    font-size: 22px;
    text-align: center;
    background: #5D7D2B;
    color: white;
    font-weight: bold;
}

.vehicleinfo_2 {
    height: 53vh;
    width: 60vw;
    margin: 0 20px 0 40px;
    border: 1px solid gray;
    border-radius: 40px;
    float: left;
}

.vehicleinfo_2 .repairselect{
    margin: 5% 3% 0% 3%;
    width: 44%;
    float: left;
}
.vehicleinfo_2 .repairselect .cont{
    width: 100%;
}
.vehicleinfo_2 .repairselect .cont .scrollBox01{
    height: 280px;
    margin: 0;
}
.vehicleinfo_2 .repairselect .cont .scrollBox01 ul li a{
    font-size: 25px;
    line-height: 31px;
    height: 33px;
    text-align: center;
}
.vehicleinfo_2 .repairselect .cont .scrollBox01 ul li label{
    font-size: 20px;
}

.vehicleinfo_2 .repairpreview{
    width: 44%;
    margin: 0% 3%;
    float: left;

}*/
.vehicleinfo_2 .repairpreview .cont{
    width: auto;
}
.vehicleinfo_2 .repairpreview .cont strong{
    margin-top: 1%;
    font-size: 20px;
    display: block;
}

/*.vehicleinfo_2 .repairpreview .cont .scrollBox03{
    margin: 1% 20px;
    height: 130px;
}
.scrollBox03 td{
    padding: 0px 2px;
    border-bottom: none;
    color: #666;
    font-size: 13px;
}

.vehicleinfo_2 .remark{
    width: 44%;
    margin: 0% 3%;
    display: inline-block;
}
.vehicleinfo_2 .remark .cont{
    width: auto;

}
.vehicleinfo_2 .remark .cont textarea{
    width: 88%;
    margin: 0 20px;
    padding: 5px;
    display: block;
    border: 1px solid #dbdbdb;
    font-size: 15px;
    height: 120px;
}*/
.vehicleinfo_2 .remark .cont strong{
    font-size: 20px;
    display: block;
}

/*.vehicleinfo_3{
    margin: 0 0px 0 20px;
    border: 1px solid gray;
    border-radius: 40px;
    width: 30vw;
    height: 52vh;
    float: left;
    text-align: center;
    font-size: 20px;
}

.vehicleinfo_3 > div{
    margin-top:15px;
}*/
.vehicleinfo_3 strong{

}
.vehicleinfo_3 input{
    width: 40%;
    padding: 5px 10px;
    border-radius: 35px;
    font-size: 15px;
}
/*.vehicleinfo_3 a{
    padding: 0 90px;
    border: 1px solid #EA0029; 
    border-radius: 10px;
    background: #EA0029;
    color: white;
}*/

.vehicleinfo_3 .complete{
    display: inline-block;
    width: 49%;
}
.vehicleinfo_3 .complete a{
    padding: 3% 20%;
    background: #5d7d2b;
}
.vehicleinfo_3 .cancel{
    display: inline-block;
    width: 49%;
}
.vehicleinfo_3 .cancel a{
    padding: 3% 20%;
}

/*.vehicleinfo_3 textarea{
    width: 88%;
    margin: 0 20px;
    padding: 5px;
    display: block;
    border: 1px solid #dbdbdb;
    font-size: 15px;
    height: 120px;
}*/

/*1200px 이하*/
@media (min-width: 1024px) and (max-width: 1240px) {
	.monitoring .top_title .top_inner {padding: 0 15px}
	.monitoring .top_title .left .logo_area {padding-left:50px}
	.monitoring .top_title .left h4 {font-size:18px;margin-top:12px;padding-left:28px }
	.monitoring .top_title .left h4:before {height:6px; width:25px;left:0}
	.monitoring .top_title .right img {width:75px;}
	.monitoring .top_title .right h2.t_tit {font-size:18px;margin-bottom:10px}

	.sidebar_menu .mf_img {left:50%; transform:translateX(-50%)}
	.sidebar_menu .mf_img img {width:165px}
	.menu_btn {padding:4px 15px}
	.menu_btn img {width:30px}
	.close_btn img {width:30px;}
	.menu_wrap li {padding:20px 30px}
	.menu_wrap li a {font-size:22px}
	
	
	.con_box .big_tit {font-size:20px; padding-left:35px;line-height:28px;margin-bottom:8px}
	.con_box .big_tit:before {background-size:contain; width:25px; height:25px}
	.con_box .tab_title {left:185px;}
	.con_box .tab_title .tab {font-size:16px; padding:3px 22px}
	.con_box .tab_title .tab.active {border-radius: 10px;}
	.board_list table {font-size:16px}
	.board_list table thead th {padding:8px 0}
	.board_list table td {font-size:16px; padding:8px 0}
	.btntablet {font-size:14px;height:30px;line-height:30px;}
	
	.con_wrapper {padding: 0; margin:8px 0}
	.info_box .frm_5li li {padding:5px}
	.info_box .frm_5li li .box_inner {padding:8px 12px}
	.con_wrapper h4.s_tit {font-size:18px;margin-bottom: 5px;}
	.con_wrapper p.label {font-size:15px}
	.con_wrapper .full_input {height:35px}
	.info_box .frm_button {right: 8px;}
	.info_box .frm_button a {padding: 7px 32px;}
	.repair_infobox {max-height:55vh;padding:5px}
	.repair_infobox > div {padding:15px}
	.repair_infobox .vehicleinfo_2 {width:60%}
	.repair_infobox .vehicleinfo_3 {width:37%}
	.vehicleinfo_2 .repairselect .cont .scrollBox01 {max-height:250px;margin:5px}
	.vehicleinfo_2 .repairpreview .cont .scrollBox03 {max-height:120px;margin:5px}
	.vehicleinfo_2 .repairselect .cont .scrollBox01 ul li a {font-size:15px; line-height:35px;}
	.con_wrapper .cont .scrollBox01 ul li ul li label {font-size:14px}
	.vehicleinfo_2 .repairpreview .cont .scrollBox03 td {font-size:14px}
	.vehicleinfo_2 .remark {position:absolute;right:0;bottom:0;width:50%;padding: 0 20px 20px 0;}
	.vehicleinfo_2 .remark .remarkin {padding:0 5px}
	.vehicleinfo_2 .remark .remarkin textarea {max-height:85px}
	.repair_infobox .vehicleinfo_3 .info3_3 textarea {max-height:120px}
	.con_wrapper p.inline {margin:5px 15px 5px 0}
}